*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav{
    background-color: #1a242e;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img{
    /* height: px; */
    width: 130px;
}

nav .box-1{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 40%;
    list-style: none;
    color: rgb(209, 207, 207);
    font-size: 20px;
    
}
 
.box-2{
 color: white;
 display: flex;
 align-items:center;
 justify-content: space-between;
 width: 20%;
 font-size: 20px;
 margin-right: 20px; ;
}
.box-2 .b1{
    height: 35px;
    width: 100px;
    background-color: #1399DE;
    color: white;
    border-radius: 8px;
    font-size: 15px;
    
}



.box-3{
    height: 70vh;
    background :linear-gradient(
        to right,
        #000 100%,
        transparent 100%
      ), url(./images/main.jpg);
      background-image: url(./main.jpg);
      background-size: cover;
 height: 75vh;
  color: white;
 padding-top: 140px;
 padding-left: 80px;
 font-size: 17px;
 
}
.box-3 .box-4{
    margin-bottom: 30px;
}
.box-3 .b-2{
    height: 50px;
    width: 300px;
    background-color:#1399DE ;
    color: white;
    margin-top: 20px;
    font-size: 22px;
    border-radius: 10px;
}

.box-5{
    height: 75vh;
    background-image: url(./main_2.jpg);
   background-size: cover;
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-left: 700px;
   padding-top: 100px;
   font-size: 20px;
   
}
.box-5 h1{
    margin-bottom: 10px;
}
.box-5 .b3{
    height: 60px;
    width: 270px;
    background-color:#1399DE;
    margin-right: 220px;
    margin-top: 30px;
    color: white;
}

.continar{
    background-color:white;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    }
    .box-6{
        background-color:white;
        height: 100vh;
        width: 50%;
        display: flex;
        flex-direction: column;
        padding-top:  70px;
        margin-right:50px;
        
        font-size: 20px;
      
    }
    
    .continar .box-7{
    
        height: 70vh;
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 5px;
        margin-bottom: 170px;
        
    }
    .box{
        background-color: rgb(223, 134, 19);       
        height: 140px;
    width: 180px;
    margin: 2px;
    background-size: cover;
    background-position: center;
    transition: all ease-in-out 0.3s
        
        
    }

    .box:first-child{
        background-image: url(./1.jpg);
        background-position: center;
    }

    .box:nth-child(2){
        background-image: url(./2.jpg);
    }
    .box:nth-child(3){
        background-image: url(./3.jpg);
    }
    .box:nth-child(4){
        background-image: url(./4.png);
    }

    .box:nth-child(5){
        background-image: url(./5.jpg);
    }
    .box:nth-child(6){
        background-image: url(./6.jpg);
    }
    .box:nth-child(7){
        background-image: url(./7.png);
    }
    .box:nth-child(8){
        background-image: url(./8.jpg);
    }
    .box:nth-child(9){
        background-image: url(./9.png);
    }
    .box:nth-child(10){
        background-image: url(./10.jpg);
    }
    .box:nth-child(11){
        background-image: url(./11.png);
    }
    .box:nth-child(12){
        background-image:url(./12.png);
    }

    .box-8{
        height: 70vh;
        background-image: url(./MLP_Template_Image_Left.jpg);
        color: white;
        padding-top: 200px;
        padding-left: 700px;
        font-size: 12px;
     }
     .box-8  button{
        height:40px ;
        width: 300px;
        margin-top: 30px;
        background-color: #1399DE;
        color: white;
        border-radius: 10px;
        
     }
     .box-8 h1{
        margin-bottom: 15px;
     }

     .box-9{
        height: 70vh;
        background-image: url(./IN-kids-30Jan._CB1517304519_.jpg);
        color: white;
        padding-top:150px;
        padding-left: 80px;
        font-size: 18px;

     }
     .box-9 button{
        height: 40px;
        width:250px;
        background-color: #1399DE;
        color: white;
        font-size: 20px;
        margin-top: 20px;
        border-radius: 10px;
     }
     .box-9 h1{
        margin-bottom: 15px;
     }
     .z-1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 400px;
     }






     @media(max-width:768px){
      .box-2{
        display: none;
      }
      .box-1{
        margin-left: 90px;
      }
     .z-1{
      display: none;
      }
      .box-1 img{
        margin-left: 100px;
      }
      
     
     .box-3{
    height: 70vh;
    background :linear-gradient(
        to right,
        #000 100%,
        transparent 100%
      ), url(./images/main.jpg);
      background-image: url(./main.jpg);
      background-size: cover;
 height: 45vh;
  color: white;
 padding-top:-0px;
 padding-top: 50px;
 padding-left:-0px;
 padding-left: 20px;
 font-size: 22px;
 
}
.box-3 .b-2{
    height: 30px;
    width: 100px;
    background-color:#1399DE ;
    color: white;
    margin-top: 50px;
    font-size: 12px;
    border-radius: 10px;
}
.box-3 h2 {
    font-size: 12px;
    padding-top: 20px;
    
}
.box-4 h1{
    font-size: 10px;
}
.box-5{
    height: 75vh;
    background-image: url(./main_2.jpg);
   background-size: cover;
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-left:-0px;
   padding-top:-0px;
   
}
.box-5 h1{
    display: none;
}
.box-5 p{
    display: none;
}
.box-5 .b3{
    display: none;
}

.box-6{
    display: none;
}


.continar .box-7{
    
    height: 70vh;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 5px;
    margin-bottom: 170px;
    
}
.box{
    background-color: rgb(223, 134, 19);       
    height: 140px;
width: 160px;
margin: 2px;
background-size: cover;
background-position: center;
transition: all ease-in-out 0.3s
}

.box-8{
    height: 70vh;
    background-image: url(./MLP_Template_Image_Left.jpg);
    color: white;
    padding-top:-0px;
    padding-left:-0px;
    font-size: 12px;
 }
 .box-8  button{
    height:30px ;
    width: 200px;
    margin-top: 30px;
    background-color: #1399DE;
    color: white;
    border-radius: 10px;
    margin-left: 30px;
    
 }
 .box-8 h1{
    margin-bottom: 15px;
    font-size: 20px;
    padding-top: 50px;
    margin-left: 30px;
 }
.box-8 h2{
    font-size: 15px;
    margin-left: 30px;
}






        













    
    

    

    
   
    